
.show-inner {
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    max-height:160px;
}
.show-inner img {
    width: 100%;
}

.show-box .row > div {
    margin-bottom: 30px;
}