@{
    ViewBag.Title = "关于我们";
}
<style>
    .about-box img{
        float:left;
        position:relative;
        display: inline;
        margin-right: 10px;
    }
</style>
<input type="hidden" id="selectIndex" value="4" />

<div class="text-center title-section">COMPANY PROFILE</div>
<div class="section-box">企业简介</div>
<div class="about-box" style="font-size:18px;padding:15px;line-height:30px;">
    <img src="~/Content/images/about.png" alt="Alternate Text" style="display:inline"/>
    <span class="text-indent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科润智能控制股份有限公司（原科润电力科技股份有限公司），是一家专业从事高低压成套设备、变压器、高低压电器、电动汽车智能充电设备的研发、设计、生产、安装、维修、检测、销售、技术服务、技术咨询；货物、技术进出口的新三板挂牌上市公司。十多年来，一直致力于电力及新能源产品的研发和产业链的完善，始终专注于品质的提升和科润品牌的建设，是国家高新技术企业。
    公司总部位于浙闽赣三省交界的浙江省江山市经济开发区山海协作区开源路1号，占地面积150余亩，现有总资产4.15亿元，员工450多人，其中大专以上专业技术人员178人，设有电气事业部、变压器事业部、元件事业部和新能源事业部。高低压成套开关设备年生产能力15000套，变压器400万kVA，高低压电器元件5000台（套），各类充电桩15000套。
    公司通过了ISO9001、ISO14001、OHSAS18001、ISO10012等管理体系认证，所有高压成套产品通过国家检测部门的型式试验，低压成套产品通过CCC认证，变压器产品通过PCCC认证，变压器被列入国家工信部节能产品推荐目录。
    公司生产设备齐全，生产工艺先进，检测设备完善，拥有钣金“数控加工中心”、变压器硅钢片自动剪切线等先进精良的高端设备，产品采用SOLIDWORKS三维电气专业软件优化设计。
    公司建有浙江省企业技术中心、浙江省企业研发中心、浙江省科润新能源充电桩研究院，并与中国质量认证中心（CQC）、西安高压电器研究院、沈阳变压器研究院、浙江工业大学、杭州电子科技大学、衢州学院等多家高等院校、科研单位保持着密切的合作关系。是世界500强企业ABB公司、美国通用电气（GE）公司的战略合作伙伴。产品通过国家电网、南方电网的入围资格审查，是国网、南网的合格供应商。
    公司秉承“科技创新、润泽天下”的企业文化，坚持“质量是企业的生命，诚信是企业的品牌”的经营宗旨，是中国企业诚信建设示范单位、浙江省工商企业信用AAA级“守合同重信用”单位、浙江省诚信民营企业、浙江省创建和谐劳动关系暨双爱先进企业，获评浙江省著名商标、名牌产品、知名商号，衢州市人民政府质量奖。
    公司建有健全的营销网络，产品畅销国网、南网及国内各省市区，并远销东南亚、非洲等多个国家和地区，在市场上具有良好的美誉度和影响力。
    公司于2015年11月6日正式在全国中小企业股份转让系统挂牌上市（股票简称：科润智控，股票代码：834062）。公司将立足为用户提供安全、优质、节能、环保的产品和专业、周到、细致、快捷的服务，成为全球用户用电方案的解决者、优质输配电设备的提供者、输配电及新能源充电行业中的领跑者。
    江山如此多娇，科润风景独好！</span>
</div>