@{
    ViewBag.Title = "企业荣誉";
}

<link href="~/Content/honor.css" rel="stylesheet" />
<input type="hidden" id="selectIndex" value="2" />

<p class="title-section text-center">CORPORATE HONOR</p>

<div class="section-box">@ViewBag.Title</div>

<div class="honor-box  clearfix wrap">
    <div class="row">
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
               
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
               
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
               
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                
            </div>
        </div>
    </div>
    

</div>