@{
    ViewBag.Title = "汇诚电力浙江汇诚电力科技有限公司";
}

<link href="~/Content/index.css" rel="stylesheet" />
<input type="hidden" id="selectIndex" value="0" />
@*<div class="banner-box">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">              
            </div>
            <div class="item">   
            </div>
            <div class="item">              
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>*@
<div class="hc-banner"></div>
<div class="wrap clearfix">
    <div class="row about-honor-bix">
        <div class="col-md-6">
            <h4>走进我们<span class="title-line"></span>INTO THE OUR</h4>
            <div class="into-our-box">
                <div class="mask">
                    <p class="en">Comapny Profile</p>
                    <p class="title">企业简介 <span class="right-icon">></span></p>
                    <p class="text-a">@Html.ActionLink("浙江汇诚电力科技有限公司是一家专业从事高低压成套设备、变压器及高压电器.... ", "About", "Home")</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>企业荣誉<span class="title-line"></span>COMPANY HONOR</h4>
            <div class="company-honor-box">
                <div class="mask">
                    <p>Company Honor</p>
                    <p>企业荣誉 <span  class="right-icon">></span></p>
                    <p class="text-a">@Html.ActionLink("浙江汇诚电力科技有限公司成立之初就致力于向广大用户和企业提供优质的服务，我们得到了社会给予我们的各项荣誉.... ", "Honor", "Home")</p>
                </div>
            </div>
        </div>
    </div>

    <div class="product-dispaly-box" >
        <h4>产品展示<span class="title-line"></span>PRODUCT DISPLAY</h4>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide-img-box">
                        <img src="~/Content/images/product/product-1.jpg" alt="Alternate Text" />
                    </div>
                    <strong class="infor">YB(ZBW1)型系列预装式变电站</strong>
                </div>
                
                <div class="swiper-slide">
                    <div class="swiper-slide-img-box">
                        <img src="~/Content/images/product/product-2.jpg" alt="Alternate Text" />
                    </div>
                    <strong class="infor">RBZ型预装式变电站（美式箱变)</strong>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-img-box">
                        <img src="~/Content/images/product/product-3.jpg" alt="Alternate Text" />
                    </div>
                    <strong class="infor">JP综合配电箱</strong>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-slide-img-box">
                        <img src="~/Content/images/product/product-4.jpg" alt="Alternate Text" />
                    </div>
                    <strong class="infor">光伏变电站</strong>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-slide-img-box">
                        <img src="~/Content/images/product/product-5.jpg" alt="Alternate Text" />
                    </div>
                    <strong class="infor">非晶合金变压器</strong>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-slide-img-box">
                        <img src="~/Content/images/product/product-6.jpg" alt="Alternate Text" />
                    </div>
                    <strong class="infor">户内交流金属铠装中置式开关设备</strong>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-img-box">
                        <img src="~/Content/images/product/product-7.jpg" alt="Alternate Text" />
                    </div>
                    <strong class="infor">低压配电箱</strong>
                </div>
                
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    
</div>
<script src="~/Scripts/swiper.min.js"></script>
<script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 3,
            paginationClickable: true,
            spaceBetween: 30
        });
</script>