@{
    ViewBag.Title = "产品中心";
}

<link href="~/Content/product.css" rel="stylesheet" />
<input type="hidden" id="selectIndex" value="1" />
<div class="banner-product-box">

</div>

<p class="title-section text-center">PRODUCT CENTER</p>

<div class="section-box">@ViewBag.Title</div>

<div class="product-box  clearfix wrap">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div >
                    <img src="~/Content/images/product/product-1.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div >
                    <img src="~/Content/images/product/product-2.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-3.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-4.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-5.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-6.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-7.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-8.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-9.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-10.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-11.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-12.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>

    </div>
    

</div>