@{
    ViewBag.Title = "产品中心";
}

<link href="~/Content/product.css" rel="stylesheet" />
<input type="hidden" id="selectIndex" value="1" />
<div class="banner-product-box">

</div>

<p class="title-section text-center">PRODUCT CENTER</p>

<div class="section-box">@ViewBag.Title</div>

<div class="product-box  clearfix wrap">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div >
                    <img src="~/Content/images/product/product-1.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">YB(ZBW1)型系列预装式变电站</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div >
                    <img src="~/Content/images/product/product-2.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">RBZL口型预装式变电站（美式箱变)</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-3.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">JP综合配电箱</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-4.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">光伏变电站</div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-5.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">非晶合金变压器</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-6.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">户内交流金属铠装中置式开关设备</div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-7.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">低压配电箱</div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-8.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">户外环网柜电缆分接箱</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-9.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">GCK型低压抽出开关柜</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-10.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">JT控制台</div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-11.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">封闭母线槽</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="product-inner">
                <div>
                    <img src="~/Content/images/product/product-12.jpg" alt="Alternate Text" />
                </div>
                <div class="product-title">HXGN15A-12ZF金属封闭环网开关设备</div>
            </div>
        </div>

    </div>
    

</div>