@{
    ViewBag.Title = "产品中心";
}

<link href="~/Content/product.css" rel="stylesheet" />
<input type="hidden" id="selectIndex" value="1" />
<div class="banner-product-box">

</div>

<p class="title-section text-center">PRODUCT CENTER</p>

<div class="section-box">@ViewBag.Title</div>

<div class="product-box  clearfix wrap">
    <div class="row">
        <div class="col-lg-4 col-md-3">
            <div class="product-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="product-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="product-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="product-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="product-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="product-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="product-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="product-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="product-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                <div class="product-title">直流一体式充电桩</div>
            </div>
        </div>
    </div>
    

</div>