@{
    ViewBag.Title = "工程案例";
}

<link href="~/Content/show.css" rel="stylesheet" />
<input type="hidden" id="selectIndex" value="4" />

<div class="text-center title-section">PRODUCT SAMPLE</div>
<div class="section-box">@ViewBag.Title</div>

<div class="honor-box  clearfix wrap">
    <div class="row">
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/sample/sample-1.jpg" alt="Alternate Text" />

            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/sample/sample-2.jpg" alt="Alternate Text" />

            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/sample/sample-3.jpg" alt="Alternate Text" />

            </div>
        </div>
        <div class="col-lg-4 col-md-3" style="float:unset;float:none" >
            <div class="honor-inner">
                <img src="~/Content/images/sample/sample-4.jpg" alt="Alternate Text" />

            </div>
        </div>
       
    </div>


</div>