@{
    ViewBag.Title = "企业展示";
}

<link href="~/Content/show.css" rel="stylesheet" />
<input type="hidden" id="selectIndex" value="3" />

<div class="text-center title-section">COMPANY SHOW</div>
<div class="section-box">企业展示</div>

<div class="honor-box  clearfix wrap">
    <div class="row">
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
               
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
               
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
               
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="honor-inner">
                <img src="~/Content/images/product_p1.jpg" alt="Alternate Text" />
                
            </div>
        </div>
    </div>
    

</div>